@keyframes heartbeat {
  0% {
    transform: scale(1);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.12);
    opacity: 1;
  }

  25% {
    transform: scale(0.99);
    box-shadow: 6px 6px 18px 5px rgba(0, 0, 0, 0.15);
    opacity: 0.9;
  }

  50% {
    transform: scale(1);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.12);
    opacity: 1;
  }

  75% {
    transform: scale(1.02);
    box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.12);
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card > a {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.12);
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}

.card-wrapper .card--vertical {
  flex: 1 1 30%;
}

.card-wrapper .card--horizontal {
  flex: 1 1 30%;
}

.main__section--most-popular .card-wrapper {
  flex-direction: column;
}

.card--vertical > a {
  flex-direction: column;
  height: 100%; /* Important to allow cards to stretch vertically */
}

.card > a:hover {
  animation: heartbeat ease-out 0.5s;
}

.card > a:hover .fa-star:first-child {
  animation: reveal 0.2s;
}

.card > a:hover .fa-star:nth-child(2) {
  animation: reveal 0.4s;
}

.card > a:hover .fa-star:nth-child(3) {
  animation: reveal 0.6s;
}

.card > a:hover .fa-star:nth-child(4) {
  animation: reveal 0.8s;
}

.card > a:hover .fa-star:last-child {
  animation: reveal 1s;
}

.card__image {
  object-fit: cover;
}

.card--vertical .card__image {
  flex-basis: 55%;
  max-height: 100px; /* Important to keep all images level */
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card--vertical .card__description {
  flex: 1 1 45%; /* Important to keep card content aligned
  when some titles occupy a second line */
  padding-left: 10px;
}

.card--horizontal .card__description {
  padding-left: 16px;
}

.card__text h3 {
  font-size: 18px;
  margin: 10px 0 0;
}

.card__text p {
  margin: 6px 0;
}

.card__text p span {
  font-weight: bold;
}

.stars > .star-on {
  color: var(--color-primary);
}

.stars > .star-off {
  color: var(--color-secondary);
}

.card--horizontal > a {
  flex-direction: row;
}

.card--horizontal .card__image {
  height: 150px; /* Important to keep image sizes consistent up to 1450 vw */
  /*
  ADD MEDIA QUERIES TO KEEP IMAGE SIZES CONSISTENT ABOVE 1450VW
  height: 160px from 1451vw to 1520vw
  height: 170px from 1521 to 1600vw
  height: 180px above 1600vw
  */
  max-width: 27%; /* Important to keep all images level */
  border-radius: 20px 0 0 20px;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ACTIVITÉS À MARSEILLE */
.card__image--full-height {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.card--large {
  height: 100%;
}

.card--medium {
  height: 52%;
}

.card--small {
  height: 38%;
}

/* Image title */
.card--large,
.card--medium,
.card--small {
  position: relative;
}

.card > p {
  position: absolute;
  background-color: white;
  padding: 12px;
  bottom: -16px;
  left: 0;
  width: 100%;
  border-radius: 0 0 16px 16px; /* border-radius should be
  less than cards' otherwise white background doesn't
  cover image completely! */
  font-size: 13px; /* Make sure font-size doesn't allow
  text to drop down to another line! */
  font-weight: bold;
}

/*************
 MEDIA QUERIES
 */

/* TABLETS */
@media screen and (max-width: 991px) {
  .main__section--most-popular .card-wrapper {
     flex-direction: row;
  }

  .card-wrapper .card--vertical {
    flex: 1 1 47%;
  }

  .card-wrapper .card--horizontal {
    flex: 0 0 47%;
  }
}

/* PHONES */
@media screen and (max-width: 767px) {
  .card-wrapper {
    gap: 15px;
  }

  .card-wrapper .card--vertical,
  .card-wrapper .card--horizontal {
    flex-basis: 100%;
  }
}
