.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover > a {
  box-shadow: var(--box-shadow-hover);
}

.card > a {
  display: flex;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
}

.card.card--vertical > a,
.card.card--horizontal > a {
  padding: 5px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 25px;
}

.card-wrapper .card--vertical {
  flex: 1 1 30%;
}

.card-wrapper .card--horizontal {
  flex: 1 1 30%;
}

.main__section--most-popular .card-wrapper {
  flex-direction: column;
}

.card--vertical > a {
  flex-direction: column;
  height: 100%; /* Important to allow cards to stretch vertically */
}

.card--vertical .image-wrapper {
  flex-basis: 60%;
  max-height: 100px;
}

.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card--vertical .card__image {
  border-radius: 16px 16px 0 0;
}

.card--vertical .card__description {
  flex: 1 1 45%; /* Important to keep card content aligned
  when some titles occupy a second line */
  padding-left: 10px;
}

.card--horizontal .image-wrapper {
  flex: 1 1 33%;
  height: 120px;
}

.card--horizontal .card__description {
  flex: 1 1 66%;
  padding-left: 16px;
}

.card__text h3 {
  margin: 10px 0 0;
}

.card__text p {
  font-size: 12px;
  margin: 6px 0;
}

.card__text p span {
  font-weight: bold;
}

.stars {
  margin-bottom: 2px;
}

.stars > .star-on {
  color: var(--color-primary);
}

.stars > .star-off {
  color: var(--color-secondary);
}

.card--horizontal > a {
  flex-direction: row;
}

.card--horizontal .image-wrapper {
  max-width: 45%;
}

.card--horizontal .card__image {
  border-radius: 16px 0 0 16px;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*************
 MEDIA QUERIES
 */

/* TABLETS */
@media screen and (max-width: 991px) {
  .card__text p {
    font-size: 14px;
  }

  .main__section--most-popular .card-wrapper {
     flex-direction: row;
  }

  .card-wrapper .card--vertical,
  .card-wrapper .card--horizontal {
    flex: 0 0 48%;
  }
}

/* PHONES */
@media screen and (max-width: 767px) {
  .card-wrapper {
    gap: 15px;
  }

  .card-wrapper .card--vertical,
  .card-wrapper .card--horizontal {
    flex-basis: 100%;
  }
}
