.footer {
  display: flex;
  background-color: var(--color-secondary);
  padding: 20px 40px;
}

.footer__content {
  /*flex: 0 1 35%;*/
  flex-basis: 35%;
}

.footer__content > ul {
  list-style: none;
  padding-left: 0;
}

.footer__content > ul > li {
  padding: 5px 0;
}

.footer__content > ul > li:first-of-type {
  font-weight: bold;
  margin-bottom: 8px;
}

.footer__content > ul > li a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: initial;
  transition: all 0.3s;
}

.footer__content > ul > li a:hover {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}

/*************
 MEDIA QUERIES
 */

/* TABLETS */
@media screen and (max-width: 991px) {
  .footer {
    margin-top: 490px; /* Find out why this is necessary
    to avoid overlap with section above */
    justify-content: space-between;
  }

  .footer__content {
    /*flex: 0 1 30%;*/
    flex-basis: 30%;
  }
}

/* PHONES */
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 0; /* Remove this if margin-top property
    is removed from TABLETS media queries */
    flex-direction: column;
    padding: 16px 28px;
  }
}
