:root {
  /* COLORS */
  --color-primary: #0065FC;
  --color-primary-light: #DEEBFF;
  --color-secondary: #F2F2F2;

  /* SPACING */
  --gap: 30px;
  --padding-section: 0 18px;

  /* BORDERS */
  --border-radius-section: 20px;

  /* BOX-SHADOW */
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Give a max-width to the page content */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 12px;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

/*************
 MEDIA QUERIES
 */

/* TABLETS */
@media screen and (max-width: 991px) {
  h3 {
    font-size: 16px;
  }
}
