:root {
  /* COLORS */
  --color-primary: #0065FC;
  --color-primary-light: #DEEBFF;
  --color-secondary: #F2F2F2;

  /* SPACING */
  --gap: 30px;
  --padding-section: 0 18px;

  /* BORDERS */
  --border-radius-section: 20px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 17px;
}
