.header {
  height: 75px;
  margin: 0 40px 40px 40px;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation ul {
  display: flex;
  margin-top: 0;
}

.header__navigation li {
  list-style: none;
}

.header__logo {
  /* Logo is slightly pushed to the right on desktop view */
  margin-left: 20px;
}

.header__logo img {
  width: 50%;
  height: 50%;
}

.header__navlink a {
  padding: 0 25px;
  text-decoration: none;
}

.header__navlink a:link,
.header__navlink a:visited {
  color: inherit;
}

.header__navlink {
  border-top: 2px solid transparent;
  padding-top: 53px;
  transition: border-color 0.3s;
}

.header__navlink:hover {
  cursor: pointer;
  border-top: 2px solid var(--color-primary);
  color: var(--color-primary);
}

/*************
 MEDIA QUERIES
 */

/* PHONES */
@media screen and (max-width: 767px) {
  .header {
    margin: 20px 0;
  }

  .header__navigation {
    flex-direction: column;
  }

  .header__navigation ul {
    padding: 0;
    width: 100%;
  }

  .header__logo {
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .header__navlink {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid var(--color-secondary);
    padding-top: 0;
    padding-bottom: 14px;
  }

  .header__navlink:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--color-primary);
  }
}
