.main__title {
  margin: 5px 0;
  font-size: 26px;
}

.main__subtitle {
  margin: 5px 0;
}

.main__form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  margin: 15px 0;
}

.main__pin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 45px;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 15px 0 0 15px;
}

.main__search-input {
  height: 100%;
  border: 1px solid var(--color-secondary);
  padding-left: 15px;
  font-weight: bold;
  flex-grow: 0;
}

.main__search-button {
  height: 100%;
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
  border: 1px solid var(--color-primary);
  border-radius: 0 15px 15px 0;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.main__search-button:hover {
  background-color: white;
  color: var(--color-primary);
}

.button--phone {
  display: none;
}

.main__filters,
.main__information {
  display: flex;
  align-items: center;
}

.main__filters p,
.main__filters button {
  font-weight: bold;
}

.main__filters {
  flex-wrap: wrap;
  gap: 28px;
  margin: 24px 0;
}

.main__filters button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid var(--color-secondary);
  border-radius: 50px;
  padding: 0 10px 0 0;
  cursor: pointer;
  transition: all 0.3s;
}

.main__filters button:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: white;
}

.main__filters i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  border-radius: 50px;
  margin-right: 12px;
  transform: scale(1.1);
}

.main__information i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 50px;
  padding: 12px;
  margin-right: 12px;
}

/*************
 MEDIA QUERIES
 */

/* TABLETS */
@media screen and (max-width: 991px) {
  .main__filters {
    gap: 12px;
  }
}

/* PHONES */
@media screen and (max-width: 767px) {
  .main__title {
    font-size: 22px;
  }

  .main__subtitle {
    margin: 12px 0;
  }

  .main__form {
    /* -10px margin-right fixes search button translation
    causing form decentralization */
    margin: 30px -10px 0 0;
    justify-content: center;
  }

  .main__search-input {
    flex-grow: 1;
  }

  .button--desktop {
    display: none;
  }

  .button--phone {
    display: block;
  }

  .main__search-button {
    border-radius: 15px;
    /* This translation causes form being pushed 10px to the left
    This is fixed by -10px margin-right on .main__form */
    transform: translateX(-10px);
  }

  .main__filters p {
    width: 100%;
    margin: 5px 0;
  }

  .main__information {
    align-items: baseline;
    margin-bottom: 16px;
  }
}
