.section-wrapper {
  display: flex;
  gap: 40px;
}

.main__section {
  background-color: var(--color-secondary);
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
}

.main__section--search {
  padding: 0 12px;
}

.main__section--accomodation {
  flex-basis: 66.66%;
  order: 1;
}

.main__section.main__section--accomodation,
.main__section.main__section--most-popular {
  padding-top: 15px;
  padding-bottom: 20px;
}

.main__section.main__section--accomodation > p {
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
}

.main__section.main__section--accomodation > p a {
  text-decoration: none;
  color: inherit;
}

.main__section--most-popular {
  flex-basis: 33.33%;
  order: 2;
}

.main__section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ACTIVITÉS À MARSEILLE */
.main__section--activities {
  background-color: white;
  margin: 50px 0;
  padding: 0;
}

.main__section--activities .card-wrapper {
  height: 400px;
  gap: 40px;
}

.main__section--activities .card-wrapper > * {
  flex: 1 1 20%;
}

.card.card--large,
.cards {
  height: 100%;
  border-radius: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.cards > *,
.card.card--large {
  border-radius: 20px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.12);
}

/* REMOVE WHEN DONE */
/*.card--large:first-of-type {
  background-color: hotpink;
}

.cards:nth-of-type(2) {
  background-color: dodgerblue;
}

.card--large:nth-of-type(3) {
  background-color: aquamarine;
}

.cards:last-of-type {
  background-color: antiquewhite;
}

.card--medium {
  background-color: orange;
  flex: 1 1 60%;
}

.card--small {
  background-color: cadetblue;
  flex: 1 1 40%;
}*/

/*************
 MEDIA QUERIES
 */

/* TABLETS */
@media screen and (max-width: 991px) {
  .section-wrapper {
    flex-direction: column;
  }

  .main__section.main__section--accomodation {
    margin-top: 0;
  }

  .main__section.main__section--most-popular {
    padding-bottom: 40px;
  }

  .main__section--most-popular {
    order: 1;
  }

  .main__section--accomodation {
    order: 2;
  }
}

/* PHONES */
@media screen and (max-width: 767px) {
  .section-wrapper {
    gap: 20px;
  }

  .main__section {
    border-radius: 0;
  }

  .main__section.main__section--most-popular {
    flex-direction: row;
    padding: 15px 12px 40px;
  }

  .main__section.main__section--accomodation {
    margin-top: 0;
    padding: 0 12px;
    background-color: white;
  }
}
