.main {
  margin: 0 30px;
}

.main__section {
  background-color: var(--color-secondary);
  /*margin-top: 30px;*/
  /*padding: 24px;*/
  border-radius: var(--border-radius-section);
}

.main__section--search {
  padding: var(--padding-section);
}

.main__title {
  font-size: 22px;
}

/* HÉBERGEMENTS A MARSEILLE */
.main__section--accommodation {
  flex-basis: 66.66%;
  order: 1;
}

.main__section.main__section--accommodation,
.main__section.main__section--most-popular {
  padding-top: 15px;
  padding-bottom: 10px;
}

.main__section.main__section--accommodation > p {
  margin-top: 35px;
  font-size: 15px;
  font-weight: bold;
}

.main__section.main__section--accommodation > p a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: inherit;
  transition: all 0.3s;
}

.main__section.main__section--accommodation > p a:hover {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.main__section--most-popular {
  flex-basis: 33.33%;
  order: 2;
}

.section-wrapper {
  display: flex;
  margin-top: 30px;
  gap: var(--gap);
}

.main__section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ACTIVITÉS À MARSEILLE */
.main__section--activities {
  background-color: white;
  margin: 50px 0;
  padding: 0;
}

.main__section--activities > h2 {
  margin-bottom: 20px;
}

/*************
 MEDIA QUERIES
 */

/* TABLETS */
@media screen and (max-width: 991px) {
  .section-wrapper {
    flex-direction: column;
  }

  .main__section.main__section--accommodation {
    margin-top: 0;
  }

  .main__section.main__section--most-popular {
    padding-bottom: 40px;
  }

  .main__section--most-popular {
    order: 1;
  }

  .main__section--accommodation {
    order: 2;
  }

  /* ACTIVITÉS À MARSEILLE */
  .main__section--activities > h2 {
    margin-bottom: 26px;
  }

  .main__section--activities .card-wrapper > * {
    flex: 1 1 47%;
  }
}

/* PHONES */
@media screen and (max-width: 767px) {
  .main {
    margin: 60px 0 0;
  }

  .section-wrapper {
    margin-top: 0;
    gap: 20px;
  }

  .main__section {
    border-radius: 0;
  }

  .main__section.main__section--most-popular {
    flex-direction: row;
    padding: 20px 16px 30px;
  }

  .main__section.main__section--accommodation {
    margin-top: 0;
    padding: var(--padding-section);
    background-color: white;
  }

  /* ACTIVITÉS À MARSEILLE */
  .main__section.main__section--activities {
    margin-top: 30px;
    padding: var(--padding-section);
  }

  .main__section--activities .card-wrapper {
    gap: 30px;
  }

  .main__section--activities .card-wrapper > * {
    flex: initial;
  }

  .cards {
    gap: 30px;
  }
}
