:root {
  --color-primary: #0065FC;
  --color-primary-light: #DEEBFF;
  --color-secondary: #F2F2F2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.main {
  margin: 0 40px;
}

/*************
 MEDIA QUERIES
 */

/* PHONES */
@media screen and (max-width: 767px) {
  .main {
    margin: 80px 12px 0;
  }
}
